<div class="table-responsive">
    <h1>No locations added yet!</h1>
    <p>Add Locations </p>
    <table ng-show="locs" class="table table-striped">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Area Code</th>
                <th>City</th>
                <th>Metro Code</th>
                <th>Country</th>
                <th>Coordinates (Lat, Long)</th>
                <th>Region</th>
                <th>Zipcode</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="loc in locs">
                <td>{{loc.ip}}</td>
                <td>{{loc.areacode}}</td>
                <td>{{loc.city}}</td>
                <td>{{loc.region_name}} {{loc.region_code}}</td>
                <td>{{loc.country_name}} ({{loc.country_code}})</td>
                <td>{{loc.latitude}}, {{loc.longitude}}</td>
                <td>{{loc.metro_code}}</td>
                
                <td>{{loc.zipcode}}</td>
            </tr>
        </tbody>

    </table>
</div>