<ul class="sidebar-nav">
    <li><a ui-sref="locations">World Map</a></li>
    <li ng-controller="SearchByIpCtrl" style="padding: 10px;" ng-init="initialize()">
        <input class="form-control" 
               type="text" 
               ng-keypress="submitIp($event)" 
               ng-pattern="::inputPattern" 
               placeholder="xxx.xxx.xxx.xxx" 
               ng-model="ipAddress" />
        <input class="form-control"
               type="text"
               ng-keypress="submitDomain($event)"
               placeholder="Enter domain"
               ng-model="domain" />
        <button class="ipSearchSubmit btn" 
                ng-class="{'btn-success': ipAddress, 'btn-info': !ipAddress }" 
                type="button" ng-disabled="!ipAddress" 
                ng-model="validInput" 
                ng-click="getIp(ipAddress)">Get IP info</button>
        <button class="btn btn-default" 
                type="button" 
                ng-class="{'testIpVals':addedDemoIpAddresses}" 
                ng-disabled="addedDemoIpAddresses"  
                ng-click="addDemoIpAddresses()">Add Valid IPs</button> 
        <button class="btn btn-warning" 
                type="button" 
                ng-click="addRandomIpAddresses()">Get Random IPs</button> 
    </li>
</ul>